.App {
  text-align: center;
}

.Navbar a{
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.align-items-center{
  margin-top: 5rem;
}

.rounded-circle{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

#img{
  width: 150px;
  height: 150px;
}
